body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sock-picker-container{
  position: relative;
  display: block;
  float: left;
  height: 5vh;
  width: 100%;
}

.sock-picker-form{
  position: relative;
  background-color: red;
  display: block;
  float: left;
  height: 100%;
  width: 42%;
  line-height: 50px;
}

#Canvas{
  background: #C9D6FF;
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  position: relative;
}

#CanvasContainer{
  background-color: white;
  width: 58%;
  height: 95vh;
  display: block;
  float: left;
  position: relative;
}

#SockColorBar{
  width: 12%;
  height: 95vh;
  display: block;
  float: left;
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  overflow: scroll;
  text-align: left;
}

#SockDesignBar{
  width: 15%;
  height: 95vh;
  display: block;
  float: left;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  overflow: scroll;
  text-align: left;
}

#SockBumpBar{
  width: 15%;
  height: 95vh;
  display: block;
  float: left;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  overflow: scroll;
  text-align: left;
}
