body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sidebar{
  background-color: green;
  height: 100vh;
  width: 42vw;
  position: relative;
  float: left;
  display: block;
}

.navbar{
  height: 5vh;
  width: 100%;
  background-color: red;
  position: relative;
  display: block;
  float: left;
  border-style: solid;
  border-color: black;
  border-width: 1px 1px 1px 1px;
  box-sizing: border-box;
}

.navbar ul{
  list-style: none;
  text-align: center;
}

.navbar li{
  display: inline-block;
}

.three-container{
  background-color: red;
  height: 100vh;
  width: 58vw;
  position: relative;
  float: left;
  display: block;
}

.three-controls{
  background-color: blue;
  height: 5vh;
  width: 100%;
  display: block;
  float: left;
  position: relative;
  line-height: 40px;
  border-style: solid;
  border-color: black;
  border-width: 1px 1px 1px 0;
  box-sizing: border-box;
}

#Canvas{
  background: #C9D6FF;
  width: 100%;
  height: 95vh;
  display: block;
  float: left;
  position: relative;
}

#CanvasContainer{
  background-color: white;
  width: 100%;
  height: 100vh;
  display: block;
  float: left;
  position: relative;
}

.sock-picker-container{
  position: relative;
  display: block;
  float: left;
  height: 5vh;
  width: 100%;
  background-color: yellow;
}

.sock-picker-form{
  position: relative;
  background-color: yellow;
  display: block;
  float: left;
  height: 100%;
  width: 100%;
  line-height: 40px;
  border-style: solid;
  border-color: black;
  border-width: 0 1px 0 1px;
  box-sizing: border-box;
}

.sock-gallery-container{
  background-color: pink;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 95vh;
  border-style: solid;
  border-color: black;
  border-width: 0 1px 1px 1px;
  box-sizing: border-box;
}

.sock-gallery-container img{
  width: 150px;
}


.sock-color-container{
  width: 27%;
  height: 90vh;
  display: block;
  float: left;
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  overflow: scroll;
  text-align: left;
}

.sock-design-container{
  width: 36.5%;
  height: 90vh;
  display: block;
  float: left;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  overflow: scroll;
  text-align: left;
}

.sock-design-card{
  text-align: center;
  margin-bottom: 10%;
}

.sock-design-card button{
  background-color: white;
  color: gray;
  position: absolute;
  float: left;
}

.sock-design-card img{
  width: 150px;
  margin: 0;
}

.sock-design-card p{
  margin: 0;
}

.sock-bump-container{
  width: 36.5%;
  height: 90vh;
  display: block;
  float: left;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  overflow: scroll;
  text-align: left;
}

.sock-bump-card{
  text-align: center;
  margin-bottom: 10%;
}

.sock-bump-card button{
  background-color: white;
  color: gray;
  position: absolute;
  float: left;
}

.sock-bump-card img{
  width: 150px;
  margin: 0;
}

.sock-bump-card p{
  margin: 0;
}
